<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Number:</strong>
  <%= @visitor.number %>
</p>

<p>
  <strong>Org:</strong>
  <%= @visitor.org %>
</p>

<p>
  <strong>Web:</strong>
  <%= @visitor.web %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
